<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg",class: "profile_image is-rounded" %>
<%= @user.username %>
<%= @user.profile %>
<% @user.reports.each do |report| %>
  <%= link_to "/reports/#{report.id}" do %>
    <ul>
      <li><%= report.date %></li>
      <li><%= report.place %></li>
    </ul>
  <% end %>
<% end %>