<!DOCTYPE html>
<html>
  <head>
    <title>DailyReportApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-bland">
          <%= link_to "/", class: "logo" do %>
            LOGO
          <% end %>

          <div role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarList">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </div>
        </div>

        <div id="navbarList" class="navbar-menu">
          <div class="navbar-start">
            <%=link_to "トップ",  "/", class: "navbar-item" %>
            <%=link_to  "日報作成", "/reports/new", class: "navbar-item" %>
          </div>
          <div class="navbar-end">
            <% if user_signed_in? %>
              <%= link_to "ユーザ一覧", "/users", class: "navbar-item" %>
              <%= link_to "ユーザ名：#{current_user.username}", "/users/#{current_user.id}", class: "navbar-item" %>
              <%= link_to "Logout", "/users/sign_out", method: :delete, class: "navbar-item"  %>
            <% else %>
              <%= link_to "Signup", "/users/sign_up", class: "navbar-item" %>
              <%= link_to "Login", "/users/sign_in", class: "navbar-item" %>
            <% end %>

          </div>
        </div>
      </nav>
      <% if flash[:notice] %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert] %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </header>
    <div class="container">
      <%= yield %>
      
    </div>
  </body>
</html>
